.color-selector-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.color-selector-field {
	width: 9ch;
}

.color-selector-preview {
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 1px;
	text-align: center;
	text-decoration: none;
	margin: 5px 30px 5px 5px;
	border-radius: 3px;
	width: 30px;
	height: 30px;
}

.color-selector-choice {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.color-selector-label {
	flex-basis: 100%;
}
